/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 290px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.name{
  font-size: 12px;
  color: #fff;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 290px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}


.collapsible {
  list-style: none;
}

.collapsible a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  display: flex; /* Add this line */
}

.collapsible i {
  margin-right: 10px;
}

.collapsible .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.collapsible-content {
  display: none;
}

.collapsible.open .collapsible-content {
  display: block;
}

.tooltip {
  position: absolute;
  display: none;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background: #e6e5ec;
  padding: 5px 10px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.collapsible:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  color: #11101d;
}


/* Diseño de menu de arriba */
body {
  font-family: Helvetica;
  font-size: 11px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav ul.navigation-menu {
  display: flex;
  background-color: #1d1b31;
  color: white;
  height: 50px;
  width: 1500px;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.1);
}
nav ul.navigation-menu li {
  flex: 1;
}
nav ul.navigation-menu li a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul.navigation-menu li ul {
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 0px;
  background-color: transparent;
  flex-direction: column;
  perspective: 500px;
  box-shadow: none;
}
nav ul.navigation-menu li ul li {
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  opacity: 0;
}
nav ul.navigation-menu li ul li ul {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 200px;
}
nav ul.navigation-menu li ul li ul li {
  display: none;
}

nav ul.navigation-menu li ul li {
  background-color: rgb(85, 127, 169);
}
nav ul.navigation-menu li ul li ul li {
  background-color: #205568;
}

nav ul.navigation-menu li ul li ul li ul li{
  background-color: rgb(85, 127, 169);
}

nav ul.navigation-menu li {
  transition: all 0.3s ease-in-out;
}
nav ul.navigation-menu li:hover {
  background-color: #1d1b31;
}
nav ul.navigation-menu li:hover ul li {
  display: block;
  transition: all 0.3s ease-in-out;
}
nav ul.navigation-menu li:hover ul li:hover {
  background-color: #1f3075;
}
nav ul.navigation-menu li:hover ul li ul li {
  display: none;
}
nav ul.navigation-menu li:hover ul li:hover ul li {
  display: block;
}

nav ul.navigation-menu li:hover ul li:hover ul li:hover ul li {
  display: block;
}
nav ul.navigation-menu li:hover ul li:hover ul li ul li {
  display: none;
}

nav ul.navigation-menu li:hover ul li:nth-child(1) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(2) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(3) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(4) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(5) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(6) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(7) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(8) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(9) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}
nav ul.navigation-menu li:hover ul li:nth-child(10) {
  animation-name: menu-1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes menu-1 {
  0% {
    transform: translateY(20px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) rotateY(0deg);
    opacity: 1;
  }
}

/* Contendores diseno */
/* Desde aquí*/
.row.text-center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-3 {
  flex: 0 0 calc(25% - 20px); /* Ajusta el ancho de las columnas según tus preferencias */
  margin-bottom: 20px; /* Ajusta el espacio entre las filas según tus preferencias */
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Añade esquinas redondeadas a las imágenes */
}



