@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background-color: #e6f1ff; /* Fondo claro azul */
  background: linear-gradient(to right, #250366, #004c99, #664bdf);
}

form {
  padding: 27px;
  background: #ffffff; /* Fondo blanco para el formulario */
  max-width: 500px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  color: #2c3e50; /* Texto oscuro para mejor lectura */
}

form h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 30px;
  color: #0056b3; /* Azul oscuro para los títulos */
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
  color: #007bff; /* Azul para las etiquetas */
}

form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
  border-color: #0056b3; /* Azul oscuro para el foco */
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

.submit-btn input {
  color: #ffffff;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  background: #0056b3; /* Azul oscuro para botones */
  transition: background 0.3s ease, transform 0.3s ease;
}

.submit-btn input:hover {
  background: #003d82; /* Azul más oscuro al pasar el ratón */
}

.submit-btn input:active {
  transform: scale(0.95);
}


.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Asegúrate de que los elementos que deben ocupar una sola columna abarquen ambas columnas */
.form-group.fullwidth {
  grid-column: span 2;
}

/* Estilos adicionales para manejar el responsive design */
@media (max-width: 768px) {
  .form-group {
    grid-template-columns: 1fr;
  }
}

