* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: rgb(18, 21, 27);
    color: white;
}

.titulos {
    color: white;
}

.unete {
    transition: all 0.5s ease-in-out;
    background: transparent;
    border: 3px solid hsl(166, 69%, 49%);
    color: white;
    border-radius: 7rem;
    padding: 0.3rem 0.9rem;
    
}
.unete:hover {
    background-color: hsl(166, 69%, 49%);
    color: black;
}

.list {
    list-style: none;
    color: white;
    padding-left:0;
    
}
nav .navbar-brand {
    margin-left: 1rem;
}
.navbar-nav {
    padding: 0.5rem 0;
}
.list li a {
    text-decoration: none;
    color: white; 

}

.list li a:hover {
    text-decoration: underline;
    transition: 0.8s ease;
}

.row {
padding: 20px;
}

.line {
    display:inline;
    padding-left:15px;

}

body {
    background-image: url(img/im1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.custom-search {
    width: 200px; /* o el ancho deseado */
}